/* Home.module.css */

.HomePage {
    /* 假设Header和Footer的高度分别为60px */
    height: calc(100vh - 120px);
    /* 100vh是全屏的高度，减去Header和Footer总共的高度 */
    background-image: url('../assets/ab231d4ff11c81321e75e1b5a1a6517.png');
    /* 更新为您的图片路径 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 保持空间在顶部和底部 */
}

.heroSection {
    position: relative;
    text-align: center;
    padding-top: 10vh;
    /* 将标题上移 */
}

.headline {
    margin-bottom: 2rem;
    /* 增加与下方内容的间距 */
}


/* Home.module.css */

.featuresBox {
    width: 50%;
    /* 盒子宽度为100% */
    height: 400px;
    /* 设置盒子的高度，只显示一张图片的高度 */
    margin: 0 auto;
    /* 居中盒子 */
    overflow-y: auto;
    /* 启用垂直滚动 */
    display: flex;
    flex-direction: column;
    /* 使图片垂直排列 */
    align-items: center;
    background-color: black;
    /* 水平居中对齐图片 */
}


.feature {
    width: 100%;
    /* 图片宽度为100% */
    max-width: 100%;
    /* 限制图片的最大宽度，以防溢出盒子 */
    margin-bottom: 20px;
    /* 图片之间的间距 */
}

.feature img {
    max-width: 100%;
    /* 图片最大宽度调整为100%，确保完整显示 */
    height: auto;
    /* 高度自动调整，保持图片的宽高比 */
}

.feature p {
    margin-top: 10px;
    font-size: 1.3rem;
    /* 图片与文本间的间距 */
}

/* 隐藏滚动条的样式，但允许滚动 */
.featuresBox::-webkit-scrollbar {
    display: none;
    /* 针对Webkit浏览器隐藏滚动条 */
}


.featuresBox {
    -ms-overflow-style: none;
    /* IE和Edge浏览器 */
    scrollbar-width: none;
    /* Firefox浏览器 */
}


.ctaButton {
    margin-top: 20px;
    /* 按钮与标题间距 */
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    /* 示例颜色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}