.header {
    background-color: #2e445a;
    /* 示例背景颜色 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 100px;
    /* 根据您的需求调整宽度 */
    height: 60px;
    /* 根据您的需求调整高度 */
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    border-radius: 30px;
    /* 增加border-radius值使得边缘更圆 */
    overflow: hidden;
    /* 隐藏超出边界的图片部分 */
}

.logo img {
    height: 60px;
    max-width: 100%;
    /* 确保图片不会超过容器的宽度 */
    border-radius: 30px;
    /* 应用于 img，确保图片圆角 */
}

.nav {
    display: flex;
    align-items: center;
    gap: 300px;
    /* 增加gap以扩大导航链接之间的间距 */
}

.nav a {
    text-decoration: none;
    color: #333;
    /* Example text color */
    padding: 10px;
    color: white;
    font-size: 1.3rem;
}

.nav a.active {
    color: #007bff;
    /* Example active link color */
}


.search {
    position: relative;

    display: flex;
    align-items: center;
}

.search input {
    height: 25px;
    flex-grow: 1;
    border-radius: 20px;
    padding-right: 30px;

}

.search button {
    position: absolute;
    right: 1;
    /* 放在搜索框的最右边 */
    top: 0;
    height: 100%;

    border: none;

    background: none;

}

/* 搜索图标按钮 */
.searchIcon {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

/* 下拉按钮 */
.dropdownBtn {
    color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* 下拉菜单的样式 */
.dropdownContent {
    display: none;

    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 显示下拉菜单的样式 */
.show {
    display: block;
}

/* 调整图标的样式 */
.iconfont {
    font-size: 20px;
    /* 可以根据需要调整大小 */
    color: #fff;
    /* 设置图标颜色 */
}